@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

body {
    font-family: 'Tomorrow', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    max-width: 60%;
}